<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <article>
                        <h2>
                            <%=animal.species %> - <%=animal.extinct ? "Extinct" : "Not Extinct" %> - <%=animal.location %> - <%=animal.lifeExpectancy %>
                        </h2>
                        <a href="'/animals/<%=animal._id%>/edit"><button>Edit</button></a>
                        <form action="/animals/<%=animal._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete" />
                        </form>
                        <a href="/animals/"><button>Back to Animals</button></a>
                    </article>
                </div>
            </main>
    </body>

</html>